
#listar {
    background-color: rgb(0, 17, 42);
   
    min-height: 100vh; 
}

.create-movie-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


#titulo {
    color: tomato;
    text-align: center;
    margin-top: 40px; 
    font-weight: bold; 
}



.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 30%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white; 
    background: rgb(130, 130, 130)
}
.image-container {
    height: 600px;
    overflow: hidden;
}
.card-body {
    margin-bottom: 0;
}

.extra-info {
    display: none;
}

.read-more {
    margin-top: 10px;
}

.button-group {
    margin-top: 10px;
    text-align: center;
}
